//flex布局复用
@mixin flex($hov:space-between, $col:center) {
    //函数的水平方向默认值:space-between;垂直方向默认值:center
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

//背景图片
@mixin bgImg($w:0, $h:0, $img:'', $size:contain) {
    display: inline-block;
    width: $w;
    height: $h;
    background: url($img) no-repeat center;
    background-size: $size;
}